.aboutMe {
    text-align: center;
    height: 100%;
    min-width: 300px;
    font-family: Barlow;
    position: fixed;
    z-index: 50;
    margin-top: 8%;
}

.aboutTitle {
  color: whitesmoke;
}

.personalSummary {
    padding-left: 200px;
    padding-right: 200px;
    font-size: 25px;
    margin-top: 5%;
    height:auto;
    color: whitesmoke;
}
/* 
/* Small devices (standard Mobile phones, 375px) */
@media only screen and (min-width: 375px) {
  /* summary and heading */
  .personalSummary {
    font-size: 20px;
    padding-left: 5px;
    padding-right: 5px;
    color: white; 
  }
  .aboutTitle {
    font-size: 25px;
  }
}
/* Medium devices (large Mobile phones, 600px to 767px) */
@media only screen and (min-width: 600px) {
    /* summary and heading */
    .personalSummary {
      font-size: 20px;
      padding-left: 75px;
      padding-right: 75px;
    }
    .aboutTitle {
      font-size: 30px;
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  
  /* Medium devices (Ipad, 768px and 1023px) */
  @media only screen and (min-width: 768px) {
        /* summary and heading */
        .personalSummary {
          font-size: 30px;
          padding-left: 75px;
          padding-right: 75px;
        }
        .aboutTitle {
          font-size: 40px;
          padding-left: 10px;
          padding-right: 10px;

        }
  }
  
  /* Medium devices (Ipad Pro 1024px and 1223px) */
  @media only screen and (min-width: 1024px) {
    /* summary and heading */
    .personalSummary {
      font-size: 30px;
      padding-left: 125px;
      padding-right: 125px;
    }
    .aboutTitle {
      font-size: 40px;
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  
  /* Medium devices (laptops, 1224px and 1823px) */
  @media only screen and (min-width: 1224px) {
    /* summary and heading */
    .personalSummary {
      font-size: 40px;
      padding-left: 200px;
      padding-right: 200px;
    }
    .aboutTitle {
      font-size: 45px;
    }
  }
  
  /* Medium devices (Desktops, 1824px and up) */
  @media only screen and (min-width: 1824px) {
      /* summary */
      .personalSummary {
          font-size: 40px;
          padding-left: 200px;
          padding-right: 200px;
      }
      .aboutTitle {
        font-size: 45px;
      }
  }
