* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
  }

  .cardContent {
     display: flex; 
     flex-direction: column;
     min-width: auto;
  }

  .screenShotImage {
    height: 300px;
    margin: 5px;
  }

  .cardTitle {
    text-align: center;
    margin-bottom: 10px;
    position:sticky;
  }

  .cardDescription {
    margin-bottom: 25px;
    padding-left: 7px;
    padding-right: 7px;
  }

.code .deploy {
  padding-bottom: 50px;
}