.navigation {
  z-index: 100;
}

.navigationBar {
    z-index: 100;
    width: 100%;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow:hidden;
    background-color: black;
}

.navTab { 
    float: left;
    display: block;
    color: white; 
    text-align: center;
    padding: 14px 16px;
    font-family: Barlow;
}

li:hover {
    background-color: rgb(54, 54, 54);
    cursor:pointer;
    text-decoration: underline;
}

/* Medium devices (large Mobile phones, 375px) */
@media only screen and (min-width: 375px) {
    /* nav headings */
    li {
      font-size: 18px; 
    }
}

/* Medium devices (large Mobile phones, 600px to 767px) */
@media only screen and (min-width: 600px) {
    /* nav headings */
    li {
      font-size: 18px;
    }
}
  
  /* Medium devices (Ipad, 768px and 1023px) */
  @media only screen and (min-width: 768px) {
    /* nav headings */
    li {
      font-size: 20px;
    }
  }
  
  /* Medium devices (Ipad Pro 1024px and 1223px) */
  @media only screen and (min-width: 1024px) {
    /* nav headings */
    li {
      font-size: 20px;
    }
  }  
  /* Medium devices (laptops, 1224px and 1823px) */
  @media only screen and (min-width: 1224px) {
    /* nav headings */
    li {
      font-size: 25px;
    }
  }
  
  /* Medium devices (Desktops, 1824px and up) */
  @media only screen and (min-width: 1824px) {
      /* nav headings*/
      li {
          font-size: 25px;
    }
  }