* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;    
}

.footerContainer {
    display:flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-evenly;
    width:100%;
    height: auto; 
    bottom: 0; 
    position:fixed;
    z-index:100;
    background-image: linear-gradient(grey, whitesmoke);

}
.section { 
    position: relative;
    margin-top:35px;
}

#github{
    text-align: center;
}

#codepen{
    text-align: center;
}

#linkedin{
    text-align: center;
}

.image-responsive {
    height: 50px;
    position:relative; 
}